.md-block {
  display: grid;
  gap: 5px;
  p {
    font-weight: normal;
  }

  a {
    color: var(--green-300);
  }
  a:hover {
    text-decoration: underline;
  }

  h1 {
    font-size: var(--step-up-6);
    font-weight: bold;
  }
  h2 {
    font-size: var(--step-up-5);
    font-weight: bold;
  }
  h3 {
    font-size: var(--step-up-4);
    font-weight: bold;
  }
  h4 {
    font-size: var(--step-up-3);
    font-weight: bold;
  }
  h5 {
    font-size: var(--step-up-2);
    font-weight: bold;
  }
  h6 {
    font-size: var(--step-up-1);
    font-weight: bold;
  }
}
